
#intro{
/* font-family: 'Times New Roman', Times, serif; */
/* height: 510px; */
/* padding: 3pc; */
background-image:url("./static/images/background.jpg");
text-align: center;
font-size: x-large;
}
#home-paragraph{
color: #ffffff;
font-family: 'Times New Roman', Times, serif;
}
h3{
/* font: inherit; */
/* font-family: Proxima Nova, sans-serif; */
color: black;
/* font-size: x-large; */
font-weight: bold;

}
span{color: #4491de;}
#signup{
 height: 555px; 
border-radius: 15px;
font-family: 'Times New Roman', Times, serif;
}
form{
font-family: 'Times New Roman', Times, serif;
}
#button{
background-color: #4491de;
color: #ffffff;
width: 100%;
border-radius: 15px;
border-style: 3px solid;
border-color: #ffffff;
font-weight: bold;
font-size: large;
}
h2{
font-family: 'Times New Roman', Times, serif;
font-size: xx-large;
font-weight: bold;
color: black;
}
#heading-two{
font-family: 'Times New Roman', Times, serif;
font-size: xx-large;
font-weight: bold;
color: #4491de;
}
#input{
border-radius: 15px;
}
#butto{
height: 50px;
width: 20%;
margin: 1pc;
font-weight: bolder;
border-radius: 25px;
}
#butto1{
height: 50px;
/* margin: 1pc; */
font-weight: bolder;
border-radius: 25px;
}

#butto2{
height: 50px;
/* margin: 1pc; */
font-weight: bolder;
border-radius: 25px;

}
#butt{
width: 100%;
/* height: 50px; */
/* margin: 1pc; */
font-weight: bolder;
border-radius: 25px;
}
.main-image{
width: 90%;
margin-left: 40px;
}
#marque{
color: #4491de;
font-family: 'Times New Roman', Times, serif;
font-size: larger;
font-weight: bold;
}

#footer{
text-align: center;
font-family: 'Times New Roman', Times, serif;
background-color:#104e4b;
color: white;
height: px;
}
#footer-link{
color: #ffffff;
}